<?php

namespace Factory\Migrations;

use TableMigrations\Wrappers\Schema;
use TableMigrations\Database\Blueprint;
use TableMigrations\Migrations\Migration;


class {{class_name}} extends Migration {
	function up() {
	}
	function down() {
	}
}

\Factory\Migrations\{{class_name}}::getInstance();